<h1>Editing question</h1>

<% form_for(@question) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :cols => 40, :rows => 10 %>
  </p>
  <p>
    <%= f.label :answers %><br /> 
    <textarea cols="40" id="question_answers" name="question[answers]" rows="10">
    </textarea>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %>
